<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuDoKu.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SuDoKu.My.MySettings.Connect" connectionString="Data Source=HPOMEN16\SQLEXPRESS;Initial Catalog=SuDoKu;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SuDoKu.My.MySettings>
      <setting name="Prf_00_Onglet_Sélecté" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LP_Nom" serializeAs="String">
        <value>Sudoku_Paramètres</value>
      </setting>
      <setting name="LP_Prb" serializeAs="String">
        <value>080000500000407000003000020004050030030900806700002000000100003905004070010020900</value>
      </setting>
      <setting name="LP_Jeu" serializeAs="String">
        <value>080000500000407000003000020004050030030900806700002000000100003905004070010020900</value>
      </setting>
      <setting name="LP_Sol" serializeAs="String">
        <value>489263517251487369673519428194658732532971846768342195847196253925834671316725984</value>
      </setting>
      <setting name="LP_Frc" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LP_Numéro" serializeAs="String">
        <value>348</value>
      </setting>
      <setting name="SDK_IE_Last_Url" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Prf_01C_Taille_Cellule" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Prf_02C_Create_Nb_Cel_Demandées" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="LP_Plcy_Gnrl" serializeAs="String">
        <value>Nrm</value>
      </setting>
      <setting name="LP_Cdd" serializeAs="String">
        <value>000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</value>
      </setting>
      <setting name="LP_Numéro_Hodoku" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Prf_01C_Fond_Grille" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Prf_01C_Clr_ComboBoxVI" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Prf_01C_Clr_ComboBoxVCdd" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="DGV_Dictionnaire_Width" serializeAs="String">
        <value>100;100;100;100;100;100;100;100;100;</value>
      </setting>
      <setting name="DGV_CodT_Width" serializeAs="String">
        <value>100;100;100;100;100;100;100;100;100;</value>
      </setting>
      <setting name="DGV_MotT_Width" serializeAs="String">
        <value>100;100;100;100;100;100;100;100;100;</value>
      </setting>
      <setting name="Sql_TB_MotT_Input" serializeAs="String">
        <value />
      </setting>
      <setting name="DGV_PrcT_Width" serializeAs="String">
        <value>100;100;100;100;100;100;100;100;100;</value>
      </setting>
      <setting name="DGV_MsgT_Width" serializeAs="String">
        <value>100;100;100;100;100;100;100;100;100;</value>
      </setting>
      <setting name="Sql_TB_PrcT_Input" serializeAs="String">
        <value />
      </setting>
      <setting name="Sql_TB_MsgT_Input" serializeAs="String">
        <value />
      </setting>
      <setting name="DGV_MotTRéservés_Width" serializeAs="String">
        <value>100;100;100;100;100;100;100;100;100;</value>
      </setting>
      <setting name="LP_CddExc" serializeAs="String">
        <value>000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</value>
      </setting>
      <setting name="DGV_PrmT_Width" serializeAs="String">
        <value>100;100;100;100;100;100;100;100;100;</value>
      </setting>
      <setting name="Prf_05D_Plcy_Globale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Prf_01C_MouseClick_Middle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Prf_02C_Plcy_Batch_Generate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Prf_02C_Nb_Batch_Generate" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SDK_Partie_Test" serializeAs="String">
        <value>C:\Développement\SuDoKu_2023\S50_SDK\Etude\UOBTXYSJZQ\SDK_UO----SJ--EC_01.txt</value>
      </setting>
      <setting name="Sql_TB_CodT_Input" serializeAs="String">
        <value />
      </setting>
      <setting name="Prf_02C_Create_Chat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Prf_02C_Create_Nb_Tentatives" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Prf_02C_Create_Contrainte" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Format_DAB" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Thème_Clr" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Prf_05D_Plcy_Dancing_Link" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Prf_05D_Plcy_Open_Display" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Prf_02C_Nb_Max_Dl" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Date_Extraction" serializeAs="String">
        <value />
      </setting>
      <setting name="Prf_03R_Plcy_Stg_Clb" serializeAs="String">
        <value>NNNNNNNNNN</value>
      </setting>
      <setting name="Obj_Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Obj_Symbol" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="Obj_Forme" serializeAs="String">
        <value>Carré</value>
      </setting>
      <setting name="Prf_08H_Flèche" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Prd_Number" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Prf_02C_Create_Grille_CdU" serializeAs="String">
        <value>False</value>
      </setting>
    </SuDoKu.My.MySettings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
</configuration>